header
  .container
    .logo The Planets
    button#menu-btn.menu-btn(aria-label="open navigation")
      img(src="/assets/images/icons/icon-hamburger.svg", alt="menu")
    nav.nav
      ul.nav__list
        each planetName in planetsNames
          li.nav__item
            a.nav__link(href=`/${planetName.toLowerCase()}`  data-planet=planetName.toLowerCase())
              =planetName
              img(src="/assets/images/icons/icon-chevron.svg", alt="")
