@font-face {
    font-family: "Antonio";
    src: url("/assets/fonts/Antonio-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Spartan';
    src: url("/assets/fonts/Spartan-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Spartan';
    src: url("/assets/fonts/Spartan-Regular.ttf") format("truetype");
    font-weight: bold;
}
