:root {
    --white: #fff;
    --black-pearl: #070724;
    --dark-grey: #38384f;
    --light-grey: #838391;
    --mercury: #419ebb;
    --venus: #eda249;
    --earth: #6f2ed6;
    --mars: #d14c32;
    --jupiter: #d83a34;
    --saturn: #cd5120;
    --uranus: #1ec2a4;
    --neptune: #2d68f0;

    --accent-color: var(--mercury);
}
